<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @post.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @post.estado %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @post.texto %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @post.autor.nombre %>
</p>

